<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>X va O o'yini</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<nav>
    <ul>
        <li><a href="{{ url_for('index') }}">Toq va Juft Aniqlovchi</a></li>
        <li><a href="{{ url_for('xo') }}">X va O o'yini</a></li>
        <li><a href="{{ url_for('calculator') }}">Kalkulyator</a></li>
        <li><a href="{{ url_for('services') }}">Xizmat Ko'rsatish</a></li>
    </ul>
</nav>

<div class="container">
    <h1>X va O o'yini (Botga qarshi)</h1>
    <div id="board" class="board"></div>
    <button onclick="restartGame()">Yangi o'yin</button>
</div>
<footer>
    <p>Rustamov Og'abekning web ilovasi</p>
</footer>
<script src="{{ url_for('static', filename='js/xo.js') }}"></script>
</body>
</html>
